body {
    background-color: #e4d1af;
    font-family:Arial, Helvetica, sans-serif;
    color: #353333;
}
h1 {
    background-color: #b2f574;
    font-size: 140%;
    padding-left:5px;
}
h2 {
    font-style: italic;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #003a64;
}
.inf {
    font-style: italic;
    color: #57788d;
}
.titulo {
    font-weight: bold;
    color: #385769;
}
.lista {
  margin-left:35px;
}